@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;

    background-color: #bdbdbd;
    font-family: Arial, sans-serif;
}

.cartao {
    width: 600px;
    height: 300px;
    padding: 30px;
    background: linear-gradient(#0d1117 60%, #058f17);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);

    text-align: left;
    border-left: #ffffff 20px solid;
    border-radius: 10px;

}

.cartao h1 {
    font-family: "Fraunces", serif;
    margin-bottom: 10px;

}

.cartao p {
    margin: 8px 0;
    font-family: "Sora", sans-serif;
}

.profissao {
    color: #058f17;
    margin-bottom: 20px !important;
}

.logo {
    width: 50px;
    height: 50px;
}